@media (max-width: 767px){
	.logo{
		text-align: center;
	}
	.box-info-hearder{
		text-align: center;
	}
	.phone-number{
		border-right: 0px;
	}
	
}
@media (min-width: 768px) {
	
}
@media (min-width: 768px) and (max-width: 999px){
	
}
@media (min-width: 1000px) {
	
}
@media (min-width: 1200px){
	
}
